WebServiceAxis/WebContent/wsdl/UserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://demo.ws.kirk" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://demo.ws.kirk" xmlns:intf="http://demo.ws.kirk" xmlns:tns1="http://bean.demo.ws.kirk" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://demo.ws.kirk" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.demo.ws.kirk"/>
   <element name="getUser">
    <complexType/>
   </element>
   <element name="getUserResponse">
    <complexType>
     <sequence>
      <element name="getUserReturn" type="tns1:UserBean"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateUser">
    <complexType>
     <sequence>
      <element name="newUser" type="tns1:UserBean"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateUserResponse">
    <complexType/>
   </element>
   <element name="printUserInfo">
    <complexType/>
   </element>
   <element name="printUserInfoResponse">
    <complexType>
     <sequence>
      <element name="printUserInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://bean.demo.ws.kirk" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="UserBean">
    <sequence>
     <element name="age" type="xsd:int"/>
     <element name="mobile" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUserResponse">

      <wsdl:part element="impl:getUserResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="printUserInfoRequest">

      <wsdl:part element="impl:printUserInfo" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="updateUserRequest">

      <wsdl:part element="impl:updateUser" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="updateUserResponse">

      <wsdl:part element="impl:updateUserResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getUserRequest">

      <wsdl:part element="impl:getUser" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="printUserInfoResponse">

      <wsdl:part element="impl:printUserInfoResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="UserService">

      <wsdl:operation name="getUser">

         <wsdl:input message="impl:getUserRequest" name="getUserRequest"/>

         <wsdl:output message="impl:getUserResponse" name="getUserResponse"/>

      </wsdl:operation>

      <wsdl:operation name="updateUser">

         <wsdl:input message="impl:updateUserRequest" name="updateUserRequest"/>

         <wsdl:output message="impl:updateUserResponse" name="updateUserResponse"/>

      </wsdl:operation>

      <wsdl:operation name="printUserInfo">

         <wsdl:input message="impl:printUserInfoRequest" name="printUserInfoRequest"/>

         <wsdl:output message="impl:printUserInfoResponse" name="printUserInfoResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserServiceSoapBinding" type="impl:UserService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="printUserInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="printUserInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="printUserInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserServiceService">

      <wsdl:port binding="impl:UserServiceSoapBinding" name="UserService">

         <wsdlsoap:address location="http://localhost:8080/WebServiceAxis/services/UserService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
