WebServiceDemo/WebContent/wsdl/ServiceDemo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://demo.ws.kirk" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://demo.ws.kirk" xmlns:intf="http://demo.ws.kirk" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://demo.ws.kirk" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="echo">
    <complexType>
     <sequence>
      <element name="args" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="echoResponse">
    <complexType>
     <sequence>
      <element name="echoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="echoResponse">

      <wsdl:part element="impl:echoResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="echoRequest">

      <wsdl:part element="impl:echo" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="ServiceDemo">

      <wsdl:operation name="echo">

         <wsdl:input message="impl:echoRequest" name="echoRequest"/>

         <wsdl:output message="impl:echoResponse" name="echoResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceDemoSoapBinding" type="impl:ServiceDemo">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="echo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="echoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceDemoService">

      <wsdl:port binding="impl:ServiceDemoSoapBinding" name="ServiceDemo">

         <wsdlsoap:address location="http://localhost:8080/WebServiceDemo/services/ServiceDemo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
